
/*header部分*/
.header{
    width:100%;
    height:2.24rem;
    overflow: hidden;
    position:relative;
}
.search_box{
    width:13.33rem;
    height:1.26rem;
    border:1px solid #c2c1c1;
    border-radius:5px;
    margin-left:0.55rem;
    float:left;
    position:relative;
    top:50%;
    margin-top:-0.63rem;
}
.search_box .search{
    background:url(../images/search.png) no-repeat;
    display: inline-block;
    width:0.6rem;
    height:0.6rem;
    background-size:100% 100%;
    margin-left:0.43rem;
    position:absolute;
    top:50%;
    margin-top:-0.3rem;
    z-index:2;
}
.search_box input{
    margin-left:0.36rem;
    border:none;
    outline:none;
    font-size:0.55rem;
    position:absolute;
    top:50%;
    margin-top:-0.63rem;
    padding-left:1.2rem;
    height:1.26rem;
    line-height:1.26rem;
    width:10.6rem;
}
input::-webkit-input-placeholder{color: #999999;}
.search_box .delete{
    background:url(../images/delete.png) no-repeat;
    background-size:100% 100%;
    display:inline-block;
    width:0.7rem;
    height:0.7rem;
    position:absolute;
    top:50%;
    margin-top:-0.35rem;
    right:0.38rem;
}
.header .sure{
    float:left;
    font-size:0.55rem;
    color:#333333;
    height:2.24rem;
    line-height:2.24rem;
    margin-left:0.43rem;
}
.phcolor{color:#999;}
/*banner部分*/
.topBanner{overflow: visible;}
.topBanner img{
    width:100%;
    height:5.33rem;
}
/*nav部分*/
.nav{
    overflow:hidden;
    margin-top:1.1rem;
    text-align: center;
}
.nav ul{
    overflow: hidden;
}
.nav ul li{
    float:left;
    width:25%;
    height:3.75rem;
    font-size:0.512rem;
}
.nav ul li a{
    color:#666666;
    display: block;
}
.nav ul li a>div{
    margin-top:0.38rem;
}
.nav li img{
    width:2.26rem;
}
.h043{
    width:100%;
    height:0.43rem;
    background-color:#f6f6f6;
}
/*main部分*/
.main{margin-bottom:4.46rem;}
.main .main_ware{
    width:100%;
    height:5rem;
    overflow: hidden;
    margin-top:0.8rem;
}
.main_ware .ware_pic{
    width:30%;
    float:left;
    margin-left:0.5rem;
}
.main_ware .ware_pic a{
    display:inline-block;
}
.ware_pic .pic_01{
    width:4rem;
    height:3.3rem;
}
.ware_pic .pic_02{
    width:2.97rem;
    height:3.65rem;
}
.ware_pic .pic_03{
    width:3.37rem;
    height:3.58rem;
}
.main_ware .ware_intro{
    width:63%;
    float:left;
    font-size:0.6rem;
    color:#333333;
}
.main_ware .ware_intro a{
    display:inline-block;
}
.ware_intro p{
    height:2.62rem;
}
.ware_intro .bar{
    border:1px solid #ededed;
    margin-top:0.8rem;
    width:120%;
}
.ware_intro .ware_price{
    color:#f23030;
}
.ware_price .price_l span{
    font-size:0.81rem;
    margin-left: 5px;
}
.ware_price .shopping_car{
    display:inline-block;
    background:url(../images/shopping_car.png) no-repeat;
    width:0.725rem;
    height:0.576rem;
    background-size:100% 100%;
    margin-left:5.3rem;
}
/*footer部分*/
.footer{
    width:100%;
    height:1.92rem;
    padding-top:0.32rem;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
}
.footer>div{
    font-size:0.47rem;
    color:#666666;
    text-align: center;
    height:100%;
}
.footer>div>div{
    float:left;
    width:33.33%;
    height:100%;
}
.index span{
    color:#1296e2;
}
.index a,.shopping_cart a,.draft a{
    display:inline-block;
}
.index a>div{
    background:url(../images/index_b.png) no-repeat;
    width:0.98rem;
    height:0.9rem;
    background-size:100% 100%;
    margin:auto;
    margin-bottom:0.2rem;
}
.shopping_cart a>div{
    background:url(../images/shopping_cart.png) no-repeat;
    width:0.98rem;
    height:0.9rem;
    background-size:100% 100%;
    margin:auto;
    margin-bottom:0.2rem;
}
.draft a>div{
    background:url(../images/draft.png) no-repeat;
    width:0.72rem;
    height:0.9rem;
    background-size:100% 100%;
    margin:auto;
    margin-bottom:0.2rem;
}
/*join部分*/
.join{
    width:100%;
    height:2.24rem;
    border-top:1px solid #c2c1c1;
    border-bottom:1px solid #c2c1c1;
    font-size:0.6rem;
    display:none;
    position:fixed;
    bottom:2.24rem;
    background-color:#ffffff;
}
.join_number{
    width:49.6%;
    height:2.24rem;
    float:left;
}
.join_number>.join_quantity{
    height:1.24rem;
    line-height:1.24rem;
    text-align: center;
}
.join_number>.join_quantity span:first-child {
    background: url(../images/less.png) no-repeat;
    display: inline-block;
    width: 0.448rem;
    height: 0.064rem;
    background-size: 100% 100%;
    margin-right:1.92rem;
    vertical-align: middle;
}
.join_number>.join_quantity span:last-child{
    background:url(../images/add.png) no-repeat;
    display:inline-block;
    width:0.448rem;
    height:0.448rem;
    background-size:100% 100%;
    margin-left:1.92rem;
}
.join_color{
    color:#999999;
    font-size:0.43rem;
    height:1rem;
    line-height:1rem;
    background-color:#f6f6f6;
    padding-left:1.1rem;
}
.join_cart,.join_buy{
    width:25.2%;
    float:left;
    height:2.24rem;
    line-height:2.24rem;
    text-align:center;
}
.join_cart>a,.join_buy>a{
    color:#ffffff;
    display:inline-block;
    height:100%;
    width:100%;
}
.join_cart{
    background:linear-gradient(to right,#ff8a00,#ff5200);
    background:-o-linear-gradient(to right,#ff8a00,#ff5200);
    background:-moz-linear-gradient(to right,#ff8a00,#ff5200);
    background:-webkit-linear-gradient(to right,#ff8a00,#ff5200);
}
.join_buy{
    background:linear-gradient(to right,#ff7800,#ff9c00);
    background:-o-linear-gradient(to right,#ff7800,#ff9c00);
    background:-moz-linear-gradient(to right,#ff7800,#ff9c00);
    background:-webkit-linear-gradient(to right,#ff7800,#ff9c00);
}
